// Colors
$emperor:  rgb(77, 67, 77);
$white:    rgb(255, 255, 255);

// Mediaqueries
$media-small: "(only screen) and (min-width: 768px)";
$media-medium: "only screen and (min-width: 992px)";
$media-large: "only screen and (min-width: 1200px)";